{% extends 'Efficatia/Padre.html'%}

{% load static %}

{% block Contenido %}

<div  style="font-size: 0.5cm; color: rgb(18, 151, 11);" class="py-5">
    <h1> Bienvenido a la plataforma de Efficatia SAS.</h1> 
    <p>Aqui podras registrarte para solicitar nuestros servicios</p>
    <p>y luego corroborar la informacion de tus lotes, asi como</p>
    <p>acceder de manera rapida a los vuelos realizados y </p>
    <p> proximamente a los informes generados por nosotros en base</p>
    <p>a la informacion relevada.</p>



</div>

{% endblock %}
  <!-- Image element - set the background image for the header in the line below-->
  <div class="py-5 bg-image-full" style="background-image: url('https://images.squarespace-cdn.com/content/v1/5c5ba49a809d8e017ad51605/1574897135771-4W78V5CC4U2Z5ICR59UT/dji-4204801_960_720.jpg?format=1500w')">