{% extends 'Efficatia/Padre.html'%}

{% load static %}

{% block Contenido %}

<div  style="font-size: 0.5cm; color: rgb(18, 151, 11);" class="py-5">
    <p> Somos una empresa dedicada a brindar</p> 
    <p>servicios inteligentes, facilitando a </p>
    <p>nuestros clientes el acceso a las más</p>
    <p>avanzadas tecnologías y asesoramiento técnico,</p>
    <p> donde la agricultura de precisión y la </p>
    <p>producción consciente encuentran su punto de equilibrio.</p>



</div>

{% endblock %}