{% extends 'Efficatia/Padre.html'%}

{% load static %}

{% block Contenido %}

<div  style="font-size: 0.5cm; color: rgb(18, 151, 11);" class="py-5">
    <p> Somos una empresa dedicada a brindar</p> 
    <p>servicios inteligentes, facilitando a </p>
    <p>nuestros clientes el acceso a las más</p>
    <p>avanzadas tecnologías y asesoramiento técnico,</p>
    <p> donde la agricultura de precisión y la </p>
    <p>producción consciente encuentran su punto de equilibrio.</p>



</div>

{% endblock %}
  <!-- Image element - set the background image for the header in the line below-->
  <div class="py-5 bg-image-full" style="background-image: url('https://images.squarespace-cdn.com/content/v1/5c5ba49a809d8e017ad51605/1574897135771-4W78V5CC4U2Z5ICR59UT/dji-4204801_960_720.jpg?format=1500w')">